# <center><a href='https://notebook.basthon.fr/?from=https://raw.githubusercontent.com/mp2i-info/mp2i-info.github.io/main/files/A_sql/pokemon/pokemon.ipynb'>Exemple : Pokémon <img src=https://framagit.org/uploads/-/system/project/avatar/55763/basthon_shadow.png width=100></a></center>

[**Diagramme de la base de donnée**](https://dbdiagram.io/d/62853fe17f945876b6459548) :
<center><img src=https://raw.githubusercontent.com/cpge-itc/itc2/main/files/1_sql/pokemon.png width="90%"></center>



Voici une commande pour afficher le schéma de chaque table :

In [ ]:
.schema

Les clés primaires sont indiquées avec `PRIMARY KEY`.  
Dans la table `evolue_en`, `FOREIGN KEY(pokemon_evol_id) REFERENCES pokemons(id)` indique que `pokemon_evol_id` est une clé étrangère de `evolue_en` et qu'elle fait référence à la clé primaire `id` de la table `pokemons`.

## Opérations ensemblistes

### Union : UNION

Pour obtenir une table contenant les pokémons et les dresseurs :

In [ ]:
SELECT * FROM pokemons UNION SELECT * FROM dresseurs

### Intersection : INTERSECT

Il n'y a aucun pokémon qui est aussi un dresseur :

In [ ]:
SELECT * FROM pokemons INTERSECT SELECT * FROM dresseurs

### Différence : EXCEPT

Comme aucun pokémon n'est un dresseur, prendre la différence renvoie la même table que `pokemons` :

In [ ]:
SELECT * FROM pokemons EXCEPT SELECT * FROM dresseurs

## Produit cartésien

Un produit cartésien de deux tables R1 et R2 donne toutes les façons de combiner un enregistrement de R1 et un enregistrement de R2 :

In [ ]:
SELECT * FROM types, dresseurs

**Remarque** : La requête ci-dessus n'a aucun intérêt, c'est juste un exemple de produit cartésien...

## Ambigüité

Si la même colonne est présente dans plusieurs tables, il faut lever l'ambigüité en préfixant par le nom de la table :

In [ ]:
SELECT nom FROM pokemons, dresseurs -- nom est un attribut des 2 tables

In [ ]:
SELECT pokemons.nom FROM pokemons, dresseurs -- ok

## Jointure simple

**Exercice** : Écrire une requête SQL pour afficher le nom de chaque pokémon avec son niveau d'évolution.

In [ ]:
select nom, niveau from evolue_en right join pokemons
on id = pokemon_base_id

## Renommage

Il est possible de renommer un attribut avec `AS` :

In [ ]:
SELECT libelle as nom, pp as point_de_pouvoir
FROM attaques

**Remarque** : Le `as` est facultatif.

Si on renomme une colonne, il faut ensuite y faire référence avec le nouveau nom :

In [ ]:
SELECT libelle nom, pp point_de_pouvoir
FROM attaques
WHERE pp > 35

On peut aussi renommer une table :

In [ ]:
SELECT d.niveau FROM detient_pokemons d

**Exercice** : Écrire une requête SQL pour afficher le nom de chaque attaque avec son type.

In [ ]:
select types.libelle, attaques.libelle 
from types join attaques on types.id = type_id

## Jointures multiples

Si on a besoin de $3$ tables (ou plus), on peut enchaîner plusieurs `JOIN` :
```sql
FROM ... 
JOIN ... ON ... = ... 
JOIN ... ON ... = ...
```

**Exercice** : Afficher chaque dresseur avec chacun de ses pokémons.

In [ ]:
select dresseurs.nom, pokemons.nom
from pokemons join detient_pokemons 
on pokemons.id = pokemon_id
join dresseurs on dresseurs.id = dresseur_id

## Auto-jointure

Parfois, il est nécessaire d'utiliser plusieurs fois la même table, donc de joindre une table avec elle-même.

**Exercice** : Afficher chaque pokémon avec son évolution et son niveau d'évolution.

In [ ]:
select pokemons.nom, pokemons_evol.nom, niveau
from evolue_en join pokemons 
on pokemon_base_id = pokemons.id
join pokemons as pokemons_evol 
on pokemon_evol_id = pokemons_evol.id

## LEFT JOIN

**Exercice** : Écrire une requête SQL pour afficher chaque pokémon avec son évolution. S'il n'a pas d'évolution, on affichera `null`.

## GROUP BY

**Exercice** : Afficher chaque dresseurs avec son nombre de pokémons et leur niveau moyen

In [ ]:
select nom, count(*) as nombre_pokemons, avg(niveau) as niveau_moyen
from dresseurs join detient_pokemons
on id = dresseur_id
group by nom

**Exercice** : Afficher chaque pokémon avec son dresseur et le nombre de pokémons de ce dresseur

In [ ]:
select nom, dresseur, nb
from detient_pokemons
join
b
on id_dresseur = dresseur_id
join pokemons
on pokemons.id = pokemon_id

**Exercice** : Afficher les dresseurs qui possèdent au moins 4 pokémons de niveau au moins 30

In [ ]:
select nom, count(*)
from dresseurs join detient_pokemons on id = dresseur_id
where niveau >= 50
group by nom
having count(*) > 3